h1{
    color:red
}
.cat{
    color:green
}
h2{
    color:green;
}
h3{
    background-color: blue;
}
h4{
    background-color: orange;
}
h5{
    background: red;
}
h6{
    background-color: purple;
}
h8{
    color:green;
}