h1{
    color:red
}
.cat{
    color:pink;
}
h2{
    color:blue;
}
.dog{
    color:palegreen;
}
h3{
    background-color: blue;
}
.bird{
    background-color: darkgreen;
}
h4{
    background-color: orange;
}
h5{
    background: red;
}
h6{
    background-color: purple;
}
h8{
    color:green;
}